extends layout

block content

    article(class='superText')
        h3 
        p(class="first") 
            em ProSonus 
            | es una empresa joven que trabaja con pasión y entusiasmo, llevando equipos del 
            em estudio a la escena
            |, ofreciendo grabaciones multipista superiores, pero cuidando a la vez que resulte accesibles para los 
            em nuevos artistas.

        p(class="glyph") Ѫ

        p
            |La manera en que logramos esto es estableciendo un muy alto standard de 
            em calidad
            |, con la simple idea de que un show o presentación solamente funciona cuando 
            em el técnico 
            | trabaja en conjunto con 
            em el artista.


