extends layout

block content

    div(id='verticalNav')
        ul
            li(class='active')
                a(href='#record')=('Grabación')
            li
                a(href='#mix')=('Mezcla')
            li
                a(href='#master')=('Master')
            li
                a(href='#production')=('Producción Musical')

    article(style='width: 600px')
        h3 Estudio de grabación
        p Nutshell Handbook, the Nutshell Handbook logo, and the O’Reilly logo are registered trademarks of
            O’Reilly Media, Inc. HTML5 Canvas, the image of a kaka parrot, and related trade dress are trademarks
            of O’Reilly Media, Inc.



    article(style='width: 300px')
        h4 Equipos
        ul
            li(class='ulSubtitle') Preamps DAW 
            li Universal Audio preamps valvulares
            li Yamaha i88x preamps y I/O
            li Presonus preamps
            li Dangerous Music LT-Bus sumadora analogica 16 canales
            li(class='ulSubtitle') Mics
            li SM57
            li SM58
            li SM57 beta
            li AKG 638
            li AKG Stereo pair 749
            li AKG 827
            li 