extends layout

block content

    article(class='superText')
        h3 
        p(class="first") ProSonus es una empresa joven que trabaja con pasión y entusiasmo, llevando equipos de estudio a la escena, ofreciendo grabaciones multipista superiores, pero cuidando que a la vez resulte accesibles para los nuevos artistas.

        p La manera en que logramos esto es estableciendo un muy alto standard de calidad, con la simple idea de que un show o presentación solamente funciona cuando el técnico trabaja en conjunto con el artista.

        p(class="last") Somos flexibles, escuchamos y nos amoldándonos a las condiciones del artista, trabajando para brindarle la mayor comodidad.

