extends layout

block content
    article(style='width: 300px')
        h4 Equipos
        ul
            li(class='ulSubtitle') Preamps DAW 
            li Universal Audio preamps valvulares
            li Yamaha i88x preamps y I/O
            li Presonus preamps
            li Dangerous Music LT-Bus sumadora analogica 16 canales
            li(class='ulSubtitle') Mics
            li SM57
            li SM58
            li SM57 beta
            li AKG 638
            li AKG Stereo pair 749
            li AKG 827

    article(style='width: 600px')
        p(class="last") Somos flexibles, nos acomodamos a las condiciones del músico o performista, cuidando el espacio y las necesidades de cada show.
        p(class="glyph") ͏
