extends layout

block content

    article
        h3 Estudio de grabación
        p Nutshell Handbook, the Nutshell Handbook logo, and the O’Reilly logo are registered trademarks of
            O’Reilly Media, Inc. HTML5 Canvas, the image of a kaka parrot, and related trade dress are trademarks
            of O’Reilly Media, Inc.


