extends layout

block content
    article(style='width: 600px', class="superText")
        p El estudio 
            em Agujero Negro 
            | es un estudio pequeño pero de gran versatilidad. Permitiendo trabajar de forma dinamica, intensiva y profunda.

        p(class="glyph") ͏

        p Calidad de audio que compite con los grandes estudios.

        p(class="glyph") ͏


    article(style='width: 300px')
        h4 Equipos
        ul
            li(class='ulSubtitle') Software
            li Steinberg Cubase 6 lt
            li(class='ulSubtitle') Preamps DAW 
            li Universal Audio preamps valvulares
            li Yamaha i88x preamps y I/O
            li Presonus preamps
            li Dangerous Music LT-Bus sumadora analogica 16 canales
            li(class='ulSubtitle') Monitores
            li Yamaha 251 sasa
            li(class='ulSubtitle') Cables y conectores
            li Neutrik
            li(class='ulSubtitle') Mics
            li SM57
            li SM58
            li SM57 beta
            li AKG 638
            li AKG Stereo pair 749
            li AKG 827
            li Rhodes