/*
font-family: 'Overlock', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Bowlby One SC', cursive;
*/
body {
    background: url('../images/binding_dark.png') center center #000;
    font-family: 'Open Sans', sans-serif;
}
a, p {
    white-space:pre-line;
}
a {
    color: #555;
    text-decoration: none;
    -webkit-transition: color 0.3s;
}
a:hover {
    color: #fefefa;
}
form {
    margin: 0px;
    padding: 0px;
}
h3, h4 {
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-size: 12px;
    color: #ddd;
}
article ul {
    margin: 0 0 10px 5px;
    -webkit-padding-start: 5px;
}
article ul li {
    margin: 0px;
    font-size: 12px;
    color: #ccc;
    list-style: none;
    border-bottom: 1px dotted #666 ;
}
li.ulSubtitle {
    margin-top: 10px;
    position: relative;
    left: -10px;
    color: #fff;
    font-weight: bold;
    list-style: none;
    border-bottom: none;
}
.superText p {
    font-size: 23px;
    margin: 80px 0;
    padding: 0px 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.superText p.first {
    margin-top: 60px;
}
.superText p.last {
    margin-bottom: 70px;
}

/* Header */
header h1 {
    margin: 0;
    margin: 10px auto 0px auto;
    width: 350px;
    height: 135px;
    overflow: hidden;
    text-indent: 900px;
    background: url('../images/prosonus-logo.png') center bottom no-repeat;
    position: relative;
    top: 0px;
    z-index: 10;
}
a#home {
    display: block;
    width: 350px;
    height: 100px;
    position: relative;
    top: -15px;
    z-index: 12;
    margin: 0px;
}
header h2 {
    clear: both;
    width: 300px;
    float: left;
    position: relative;
    top: 25px;
    margin: 0px auto 0px auto;
    padding: 5px 30px;
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 40px;
    letter-spacing: 40px;
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.95);
    background: #fefefe;
}
header h1, header h2 {
    transition: background-color 1s, color 1s;
    transition-timing-function: linear;
    -moz-transition: background-color 1s, color 1s; /* Firefox 4 */
    -moz-transition-timing-function: linear;
    -webkit-transition: background-color 1s, color 1s; /* Safari and Chrome */
    -webkit-transition-timing-function: linear;
    -o-transition: background-color 1s, color 1s; /* Opera */
    -o-transition-timing-function: linear;
}
#container {
    width: 1024px;
    margin: auto;
}
#content {
    float: left;
    margin-bottom: 30px;
}
article {
    margin-top: 25px;
    margin-right: 20px;
    min-height: 450px;
    padding: 20px;
    float: left;
    background: url('../images/dark-noisy-texture.png');
    box-shadow: 0px 5px 10px rgba(0,0,0,1);
    border: 1px #000 solid;
    border-radius: 4px;
}

/* Header */
header {
    height: 250px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
header.mini {
    height: 210px;
}
#mainArticle {
    width: 59%;
    min-width: 400px;
    color: #fcfcf9;
    margin-right: 10px;
}
#mainArticle h4 {
    font-size: 29px;
    text-transform: uppercase;
    font-family: 'Overlock', cursive;
    font-weight: normal;
    color: #f3faf5;
    margin: 0px 0px 10px 0px;
    text-shadow: 0px 1px 4px rgb(0,0,0);
}
#mainArticle div {
    display: block;
    font-size: 12px;
}
#mainArticle img {
    float: left;
    margin: 0px 10px 10px 0px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.9);
}

#album {
    width: 360px;
    margin-right: 20px;
    float: left;
    color: #fcfcf9;
}
#album .info {
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
#album .info em {
    position: relative;
    top: -10px;
    right: 3px;
    float: right;
}
#album .info p span {
    display: block;
    margin-left: 10px;
}
#bc-player {
    float: left;
}
#mailListBox {
    float: right;
    width: 300px;
    margin-right: 60px;
    background: rgba(0,0,0,0.4);
    padding: 10px 10px 30px 20px;
    border-radius: 10px;
}
#mailListBox label {
    display: block;
    float: left;
    color: #eee;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 0px 0px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.18em;
    letter-spacing: 0.2em;
    opacity: 0.6;
}
#mailListBox input[type='text'] {
    float: left;
    height: 30px;
    width: 150px;
    line-height: 30px;
    margin: 0px;
    padding: 0px 10px;
    color: #3c3c3c;
    border: none;
    opacity: 0.4;
}
#mailListBox input[type='text']:focus {
    opacity: 1;
}
#mailListBox input[type='submit'] {
    float: left;
    background: #6c6c6c;
    box-shadow: 0px 2px 4px rgba(0,0,0,1);
    color: #ececec;
    border: none;
    margin: 0px 0px 0px 10px;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px;
    opacity: 0.4;
    border-radius: 4px;
}
#mailListBox input[type='submit']:hover {
    opacity: 1;
}

/* Navigations */
#nav {
    display: block;
    width: 360px;
    height: 220px;
    min-height: 20px;
    margin: 25px auto 0px auto;
    background: url('../images/fx1.png');
    padding: 30px;
    opacity: 0.95;
    position: relative;
    top: -200px;
    z-index: 0;
    box-shadow: 0px 2px 10px #000;
}
header.mini #nav {
    height: 190px;
}
#nav ul {
    width: 500px;
    padding: 0;
    margin: 0;
}
#nav ul li {
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
#nav ul.home li a {
    padding: 20px;
    top: 180px;
}
#nav ul li a {
    top: 160px;
    position: relative;
    padding: 10px 20px;
    background: #000;
}
#nav ul ul li a {
    top: 180px;
    float: left;
}

#verticalNav {
    clear: both;
    width: 180px;
    min-height: 450px;
    float: left;
}
#verticalNav ul {
    margin: 25px 0px 0px 0px;
    padding: 0;
}
#verticalNav ul li {
    display: block;
    clear: both;
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 0px 15px 0px;
}

#horizontalNav {
    display: block;
    margin: 25px 0px 0px 0px;
}
#horizontalNav ul {
    padding: 0;
    margin: 0;
}
#horizontalNav ul li {
    display: inline-block;
    list-style: none;
    float: left;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    background: rgba(0, 0, 0, 0.8);
}

#nav a.active,
#horizontalNav li.active,
#verticalNav li.active {
    background: #000;
    box-shadow: 0px 4px 0px #fff;
}
#nav a.active,
#horizontalNav li.active a,
#verticalNav li.active a {
    color: #fff;
}

#horizontalNav ul li a,
#verticalNav ul li a {
    display: block;
    padding: 5px;
}

/* Shows */
.show {
    width: 530px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    background: url('../images/dark-noisy-texture_z.png') #000;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.7);
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}
.show h5,
.show h4 {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 22px;
    color: #fafafa;
    margin: 0px 0px 10px 0px;
}
.show h5 {
    float: right
    right: 14px;
    color: #fb2908;
    font-size: 28px;
    margin: 0px;
}
.show h3 {
    float: right;
    clear: both;
    color: #fb2908;
    font-size: 28px;
}
.show .place {
    position: relative;
    top: -10px;
    color: #69ab38;
    font-size: 15px;
    font-weight: bold;
}
.show p {
    display: block;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #fafafe;
    margin: 0px;
    padding: 0px;
}
.show .body {
    width: 100%;
    margin-bottom: 20px;
}
.show img {
    display: block;
    margin: auto;
}
.show.old {
    opacity: 0.5;
}
.show.old:hover {
    opacity: 1;
}
.modal {
    background: #090909 !important;
    padding-bottom: 10px;
}
.modal .modal-title {
    color: #ccc;
}
.modal a.close,
.modal a.close:hover {
    color: #ccc !important;
    opacity: 1;
    text-shadow: 0px 0px 0px;
    font-size: 12px;
}
.modal .modal-header {
    border-bottom: 1px solid #333333;
}
.modal .modal-footer {
    display: none;
    background: #090909 !important;
    border-top: 1px solid #333333;
    -webkit-box-shadow: inset 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 0 0 #ffffff;
    box-shadow: inset 0 0 0 #ffffff;
}

/* Videos */
.videos {
    clear: both;
}
.videos iframe {
    float: left;
    clear: both;
    margin: 20px 20px 20px 0px;
}
.videos h3 {
    float: left;
    display: block;
    clear: both;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px;
    background: black;
    background: #333;
    color: #fff;
}
/* Fotos */
#gallery {
    background: black;
    width: 912px;
    padding-left: 10px;
    padding-top: 10px;
}
#gallery img {
    margin: 0px 10px 10px 0px;
}
.bio {
    padding-top: 20px;
    clear: both;
}
.bio .personaje {
    width: 180px;
    padding: 20px;
    margin: 0px 20px 20px 0px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    background: url('../images/dark-noisy-texture_z.png') #000;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.7);
}
.bio .personaje img {
    width: 180px;
    height: 180px;
    border: 1px solid #457821;
    margin-bottom: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
}
.bio .personaje p {
    color: #fff;
    opacity: 0.5;
}
.bio .personaje .instrumento {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.8;
    letter-spacing: 2px;
}
.bio .info {
    display: block;
    margin-top: 20px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #fcfcf9;
}


/* Footer */
footer {
    clear: both;
    height: 40px;
    width: 100%;
    margin: 0px auto 10px auto;
    background: url('../images/dark-noisy-texture.png');
    border-radius: 4px;
    opacity: 0.95;
}
footer:hover {
    opacity: 1;
}
footer p {
    margin-left: 20px;
    font-size: 14px;
    line-height: 40px;
    font-spacing: 12px;
    color: #934;
    float: left;
}
footer p em {
    color: #fff;
}
footer iframe {
    margin: 7px 10px 0px 10px;
    float: right;
}
